// Based on RealTime Colors - https://www.realtimecolors.com/?colors=e4fbf9-050f0e-40b5a7-154e93-102e5b
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #e9fcfa;
    --text-100: #d3f8f5;
    --text-200: #a6f2eb;
    --text-300: #7aebe2;
    --text-400: #4ee4d8;
    --text-500: #21dece;
    --text-600: #1bb1a5;
    --text-700: #14857c;
    --text-800: #0d5952;
    --text-900: #072c29;
    --text-950: #031615;

    --background-50: #ecf9f7;
    --background-100: #d9f2f0;
    --background-200: #b3e6e0;
    --background-300: #8cd9d1;
    --background-400: #66ccc2;
    --background-500: #40bfb3;
    --background-600: #33998f;
    --background-700: #26736b;
    --background-800: #194d47;
    --background-900: #0d2624;
    --background-950: #061312;

    --primary-50: #ecf8f7;
    --primary-100: #d9f2ef;
    --primary-200: #b4e4df;
    --primary-300: #8ed7cf;
    --primary-400: #68cabf;
    --primary-500: #42bdae;
    --primary-600: #35978c;
    --primary-700: #287169;
    --primary-800: #1b4b46;
    --primary-900: #0d2623;
    --primary-950: #071311;

    --secondary-50: #e9f1fc;
    --secondary-100: #d2e4f9;
    --secondary-200: #a6c8f2;
    --secondary-300: #79adec;
    --secondary-400: #4c91e6;
    --secondary-500: #2076df;
    --secondary-600: #195eb3;
    --secondary-700: #134786;
    --secondary-800: #0d2f59;
    --secondary-900: #06182d;
    --secondary-950: #030c16;

    --accent-50: #e9f0fb;
    --accent-100: #d4e2f7;
    --accent-200: #a8c5f0;
    --accent-300: #7da8e8;
    --accent-400: #528be0;
    --accent-500: #266ed9;
    --accent-600: #1f58ad;
    --accent-700: #174282;
    --accent-800: #0f2c57;
    --accent-900: #08162b;
    --accent-950: #040b16;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --text-50: #031615;
    --text-100: #072c29;
    --text-200: #0d5952;
    --text-300: #14857c;
    --text-400: #1bb1a5;
    --text-500: #21dece;
    --text-600: #4ee4d8;
    --text-700: #7aebe2;
    --text-800: #a6f2eb;
    --text-900: #d3f8f5;
    --text-950: #e9fcfa;

    --background-50: #061312;
    --background-100: #0d2624;
    --background-200: #194d47;
    --background-300: #26736b;
    --background-400: #33998f;
    --background-500: #40bfb3;
    --background-600: #66ccc2;
    --background-700: #8cd9d1;
    --background-800: #b3e6e0;
    --background-900: #d9f2f0;
    --background-950: #ecf9f7;

    --primary-50: #071311;
    --primary-100: #0d2623;
    --primary-200: #1b4b46;
    --primary-300: #287169;
    --primary-400: #35978c;
    --primary-500: #42bdae;
    --primary-600: #68cabf;
    --primary-700: #8ed7cf;
    --primary-800: #b4e4df;
    --primary-900: #d9f2ef;
    --primary-950: #ecf8f7;

    --secondary-50: #030c16;
    --secondary-100: #06182d;
    --secondary-200: #0d2f59;
    --secondary-300: #134786;
    --secondary-400: #195eb3;
    --secondary-500: #2076df;
    --secondary-600: #4c91e6;
    --secondary-700: #79adec;
    --secondary-800: #a6c8f2;
    --secondary-900: #d2e4f9;
    --secondary-950: #e9f1fc;

    --accent-50: #040b16;
    --accent-100: #08162b;
    --accent-200: #0f2c57;
    --accent-300: #174282;
    --accent-400: #1f58ad;
    --accent-500: #266ed9;
    --accent-600: #528be0;
    --accent-700: #7da8e8;
    --accent-800: #a8c5f0;
    --accent-900: #d4e2f7;
    --accent-950: #e9f0fb;
  }
}
