---
const { name, id } = Astro.props as { id?: string; name: string };
const { default: innerHTML } = await import(`../icons/${name}.svg?raw`);
---

<div id={id}>
  <Fragment set:html={innerHTML} />
</div>
