@import "../../abstracts/mixins";

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

#contact {
  h2 {
    display: flex;
    align-items: end;

    span {
      padding-left: 5px;
      animation: wave-animation 0.4s infinite;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .socials {
    display: flex;
    flex-direction: column;

    font-size: 0.75em;
    gap: 2em;

    .social {
      display: grid;
      grid-template-columns: 60px 1fr;
      font-size: 1.5em;

      #method-icon {
        grid-area: 1 / 1 / 3 / 2;
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .title {
        grid-area: 1 / 2 / 2 / 3;
        font-size: 1.15rem;
      }

      .label {
        grid-area: 1 / 2 / 2 / 3;
        padding-top: 1.5rem;
        font-size: 1rem;
      }
    }
  }

  form {
    margin: auto;

    .hidden {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    label {
      color: var(--text-50);
    }

    input,
    textarea {
      border-radius: 5px;
      font-size: inherit;
      margin: 15px 0;
      padding: 12px 20px;
      width: 100%;
      outline: 2px solid var(--primary-700);

      &:user-valid {
        outline-color: green;
      }

      &:user-invalid {
        outline-color: red;
      }
    }

    button {
      font-size: 1.25rem;
      width: 30%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
  }
}

@include leq(800px) {
  #contact > .content {
    .socials {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);

      .social {
        &#email {
          grid-area: 1/1/2/3;
        }

        &#phone {
          grid-area: 2/1/3/2;
        }

        &#linkedin {
          grid-area: 2/2/3/3;
        }

        .title {
          grid-area: 1 / 2 / 2 / 3;
          font-size: 1.25rem;
        }

        .label {
          grid-area: 1 / 2 / 2 / 3;
          padding-top: 1.5rem;
        }
      }
    }
  }
}

@include geq(800px) {
  #contact {
    padding-block: 10vh;

    .description {
      max-width: 50%;
      padding-bottom: 0.5em;
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: start;

      form {
        min-width: 250px;
        width: 45%;
      }
    }
  }
}
