---
import "@/styles/layouts/Navigation/NavToggle.scss";
---

<button
  class="toggle"
  aria-label="Toggle Mobile Navigation">
  <span class="bar1"></span>
  <span class="bar2"></span>
  <span class="bar3"></span>
</button>
